/*
    Text Contrasts (Foreground/Background):
    #FFFFFF / #3A506B: 8.26:1
    #FFFFFF / #2C2C2C: 13.96:1
    #000000 / #FFFFFF: 21:1
*/

.cards {
    display: flex;
    justify-content: center;
    gap: 1.5625rem;
    padding: 1.25rem;
}

.card {
    width: 19.5rem;
    height: 26.625rem;

    background-color: #3A506B;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 0rem 2rem 2rem 2rem;
    margin-right: 2rem;
}

.card img {
    width: 70%;
    height: auto;
    
    margin-top:2.5rem;
    margin-bottom:1.5rem;
    border-radius: 50%;
}

.card-name {
    font-size: 2rem;
    margin: 0.25rem 0;
    color: white;
}

.card-bio {
    font-size: 1rem;
    text-align: center;
    color: #dcdcdc;
}

.team {
    margin-top: 2.5rem;
    position: relative;
}

.team-bar {
    width: 34.375rem;
    height: 9.375rem;
    background-color: #3A506B;

    position: absolute;
}

.team h1 {
    font-size: 6.313rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 3rem;
    padding-top: 5rem;
    position: relative;
    color: white;
}